{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="bg-container">
    <div class="sub-image">
      <img src="static/bakgrawn.jpg">
    </div>
    
  </div>
    <div class="text-container">
      
      <h1>Make Someone Happy and <span class="head_core">Donate Blood</span> Today!</h1>
      <p>Welcome to our Blood Donation Hub, where compassion meets lifesaving action! At our core, we believe in the power of humanity to make a positive impact on the world, one drop at a time. Join us in our mission to bridge the gap between those in need and the life-giving resource that resides within each of us – blood. </p>
    </div>
  
    

    <style>
      .brand-pic {
     
      width: 55px; 
      height: 35px; 
    }
   
 

    
    .head_core {
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient( 
      900deg, hsl(0, 76%, 63%), hsl(0, 100%, 87%) );
      -webkit-background-clip: text;
      background-clip: text;
     }
    .bg-container {
        background-image: url("{% static 'bakgrawn.jpg' %}");
        display: flex;
        position: relative;
        flex: 2;          
        flex-direction: column;  
        align-items: center;
        justify-content: flex-end;
        height: 95%;
        text-align: center;
        padding: 0;
        opacity: 0.2;
        margin-top: 55px;
        
      }
  
      .text-container {
        text-align: left;
        line-height: 1.5;
        max-width: 100%;
        padding: 60px;
        background-color: none;
        border-radius: 10px;
        color: black;
        opacity: 5;
        position: absolute;
        top: 45%;
        left: 65%;
        transform: translate(-50%, -50%);
        z-index: 1;
        margin-top: 50px;
      }
  
      .text-container:hover {
        opacity: 5; /* Fully visible when hovered */
      }
  
      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 70px;
        margin-bottom: 10px;
        font-weight: 800;
        color: #333; /* Adjust text color */
      }
  
      p {
        font-size: 1.5rem;
        color: #555; /* Adjust text color */
      }

      footer {
      border-top: 2px solid black;
      margin-top: 100px;
      background-color:none;
      padding: 30px 0;
      font-family: "Poppins", sans-serif;
    }

    .footer-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      max-width: 1200px;
      
      margin: 0 auto;
    }

    .about-us,
    .contact-us {
      width: 45%;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 1.5em;
      color:  #dc3545;
      font-family: "Poppins", sans-serif;
    }

    p {
      font-size: 1em;
      color: #555;
      font-family: "Poppins", sans-serif;
    }
   
    </style>
  {% endblock %}

  {% block logo %}
    <img src="{% static 'brand1.png' %}" class="brand-pic" alt="Other Logo">
{% endblock %}