{% extends 'base.html' %}
{%load static%}
{% block content %}
<script>
  function togglePasswordVisibility() {
    var passwordField = document.getElementById("passwordField");
    var eyeIcon = document.querySelector(".eye-icon i");

    if (passwordField.type === "password") {
      passwordField.type = "text";
      eyeIcon.classList.remove("fa-eye");
      eyeIcon.classList.add("fa-eye-slash");
    } else {
      passwordField.type = "password";
      eyeIcon.classList.remove("fa-eye-slash");
      eyeIcon.classList.add("fa-eye");
    }
  }
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


<div class="center-box">
  <div class="login-form-box">
    <h2>Young Blood</h2>
    <form action="." method="POST" class="login-form">
      {% csrf_token %}
      <label class="utype">User Type:</label>
      {{ form.user_type }}
      <div class="login-fields">
        <div class="username-container">
        <input type="text" name="username" placeholder="Username" class="name_con">
      </div>
        <div class="password-container">
          <input type="password" name="password" placeholder="Password" id="passwordField" class="pass_con">
          <span class="eye-icon" onclick="togglePasswordVisibility()">
            <i class="fas fa-eye"></i>
          </span>
        </div>
      </div>
      <input type="submit" class="btn btn-danger btn-sm" value="LOGIN">

        <p style="text-align: center; color: #333;">
        Don't have an account? <a style="text-align: center; color: #dc3545;" 
        href="{% url 'register' %}">Donor Sign Up</a>
        </p>
        <p style="text-align: center; color: #333;">
          Don't have an account? <a style="text-align: center; color: #dc3545;"
          href="{% url 'patient' %}">Patient Sign Up</a>
        </p>
    </form>
  </div>
</div>



<style>

  .center-box {
    margin-top: 300px;
  }

  footer {
    border-top: 2px solid black;
    margin-top: 500px;
    background-color: none;
    padding: 30px 0;
  }

  .btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
  }

  .login-fields {
    border-radius: 20px;
    background-color: none;
  }
  .utype{
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
  }
  .name_con{
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
  }
  .pass_con{
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
  }
  .password-container {
    position: relative;
  }

  .eye-icon {
    position: absolute;
    right: 170px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }
  h2 {
      color: #dc3545; /* Use a red color for headings */
    }
</style>

{% endblock %}

{% block logo %}
    <img src="{% static 'brand1.png' %}" class="brand-pic" alt="Other Logo">
{% endblock %}